.table--team {
  width: 150px;
}
.table--contributors {
  width: 130px;
}
.loader {
  margin-top: 80px;
  margin-bottom: 80px;
}
body {
  padding-top: 60px;
}
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 0 auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.cloak {
  display: none;
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c3e50;
}
.cloak__center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 60px;
  margin: auto;
}
.cloak .spinner {
  height: 60px;
  width: 60px;
  background: #fff;
}
.table {
  table-layout: fixed;
}
.table td,
.table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[ng\:cloak] .body,
[ng-cloak] .body,
[data-ng-cloak] .body,
[x-ng-cloak] .body,
.ng-cloak .body,
.x-ng-cloak .body {
  display: none !important;
}
[ng\:cloak] .cloak,
[ng-cloak] .cloak,
[data-ng-cloak] .cloak,
[x-ng-cloak] .cloak,
.ng-cloak .cloak,
.x-ng-cloak .cloak {
  display: block;
}
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.table--language {
  width: 100px;
}
.table--watching {
  width: 100px;
}
.table--forks {
  width: 90px;
}
.table--date {
  width: 180px;
}
.sort {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
