@cloak-bg: #2c3e50;
@cloak-spinner-color: #fff;

body {
    padding-top: 60px;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;

    margin: 0 auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.cloak {
    & {
        display: none;
        position: absolute;
        z-index: 2000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: @cloak-bg;
    }

    &__center {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        width: 60px;
        margin: auto;
    }

    .spinner {
        height: 60px;
        width: 60px;
        background: @cloak-spinner-color;
    }
}

.table {
    & {
        table-layout: fixed;
    }

    td, th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    .body {
        display: none !important;
    }

    .cloak {
        display: block;
    }
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
      0% {
          transform: perspective(120px) rotateX(0deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
      } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
          transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
          -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
}
