<div class="panel panel-default">
    <div class="panel-heading">
        Contributions {{cc.isLoading}}
    </div>
    <div class="loader" ng-hide="cc.contributors" >
        <div class="spinner"></div>
    </div>
    <table class="table" ng-show="cc.contributors">
        <thead>
            <th width="20">
                #
            </th>
            <th>
                <xf-sort
                    ng-click="cc.sortBy('nickname')"
                    direction="cc.columns.nickname">
                    Nickname
                </xf-sort>
            </th>
            <th class="table--team hidden-xs">
                <xf-sort
                    ng-click="cc.sortBy('team')"
                    direction="cc.columns.team">
                    Team
                </xf-sort>
            </th>
            <th class="table--contributors">
                <xf-sort
                    ng-click="cc.sortBy('contributions')"
                    direction="cc.columns.contributions">
                    Contributions
                </xf-sort>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="item in cc.contributors | orderBy: cc.column: cc.revers">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{item.nickname}}
                </td>
                <td class="hidden-xs">
                    {{item.team}}
                </td>
                <td>
                    {{item.contributions}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
