<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="collapse()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">X-Formation</a>
        </div>
        <nav class="collapse navbar-collapse" ng-class="{'in': collapseIn}">
            <ul class="nav navbar-nav">
                <li ng-repeat="menu in menus" ng-class="{'active': menu.url === current()}">
                    <a ng-click="collapse(false)" ng-href="#{{menu.url}}">{{menu.name}}</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
