<div class="panel panel-default" ng-controller="RepositoriesController as rc">
    <div class="panel-heading">
        Repositories
    </div>
    <div class="loader" ng-show="rc.loadingData">
        <div class="spinner"></div>
    </div>
    <table class="table" ng-hide="rc.loadingData">
        <thead>
            <th width="20">
                #
            </th>
            <th>
                <xf-sort
                    ng-click="rc.sortBy('name')"
                    direction="rc.columns.name">
                    Name
                </xf-sort>
            </th>
            <th class="table--language">
                <xf-sort
                    ng-click="rc.sortBy('language')"
                    direction="rc.columns.language">
                    Language
                </xf-sort>
            </th>
            <th class="table--watching hidden-sm hidden-xs">
                <xf-sort
                    ng-click="rc.sortBy('watchers')"
                    direction="rc.columns.watchers">
                    Watching
                </xf-sort>
            </th>
            <th class="table--forks">
                <xf-sort
                    ng-click="rc.sortBy('forks')"
                    direction="rc.columns.forks">
                    Forks
                </xf-sort>
            </th>
            <th class="table--date hidden-xs">
                <xf-sort
                    ng-click="rc.sortBy('updated_at')"
                    direction="rc.columns.updated_at">
                    Last update
                </xf-sort>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="item in rc.repositories | orderBy: rc.column: rc.revers">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{item.name}}
                    <small ng-if="item.description"><br />{{item.description}}</small>
                </td>
                <td>
                    {{item.language}}
                </td>
                <td class="hidden-sm hidden-xs">
                    {{item.watchers}}
                </td>
                <td>
                    {{item.forks}}
                </td>
                <td class="hidden-xs">
                    {{item.updated_at | date: "yyyy-MM-dd HH:mm:ss" }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
