<a ng-click="changeDirection()" class="sort">
    <ng-transclude></ng-transclude>
    <span ng-if="isDirection">
        <i class="fa fa-sort-asc" ng-show="!direction"></i>
        <i class="fa fa-sort-desc" ng-show="direction"></i>
    </span>
</a>
